{% extends "base.html" %} {% block content %}
<h2>Details</h2>
<h3>searched for: {{searchterm}}</h3>
<h4>market volume: ${{ "{:,.2f}".format(total).replace(",", "X").replace(".", ",").replace("X", ".") }}</h4>
{% if only_five %}
<div class="alert alert-warning" role="alert">
  Only analyzed first 5 results to save time...
</div>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th> </th>
      <th>ASIN</th>
      <th>Title</th>
      <th>Price USD</th>
      <th>BLM</th>
    </tr>
  </thead>
    {% for product in results %}
    <tr>
        <td><img src="{{product['image_path']}}" alt="{{product['asin']}}"></td>
        <td>{{product["asin"]}}</td>
        <td><a href="https://www.amazon.com/dp/{{product['asin']}}" target="_blank">{{product["title"]}}...</a></td>
        <td>{{product["price"]}}</td>
        <td>{{product["blm"]}}</td>
    </tr>
    {% endfor %}
    
  </table>


{% for product in results %}
{% endfor %}

<a class="btn btn-primary" href="/">Zurück zur Suche</a>

    {% endblock content %}
