{% extends "base.html" %} {% block content %}

<form action="/details" method="post" onsubmit="showLoadingMessage()">
    <input type="text" name="searchterm" placeholder="searchterm">
    <br>
    <input type="checkbox" name="only_five" checked >
    Check only first 5 products (safe time) 
    <br>
    <input type="submit" value="Analyze market">
</form>

<div>

<div id="loadingMessage" style="display: none;padding: 1rem;">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p>Analyzing market</p>
</div>


{% endblock content %}
