<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmaScrape</title>
    <script>
        function showLoadingMessage() {
            document.getElementById("loadingMessage").style.display = "block";
        }
    </script>
</head>
<body>
    <form action="/details" method="post" onsubmit="showLoadingMessage()">
        <input type="text" name="searchterm" placeholder="searchterm">
        <input type="submit" value="Ab dafür">
    </form>

    <p id="loadingMessage" style="display: none; font-weight: bold;">Lade Ergebnisse...</p>
</body>
</html>
